# Virtual environment
.venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.vscode/
.idea/

# macOS system files
.DS_Store

# Compiled Python files
*.pyc

# Logs
*.log

# Temporary files
*.tmp

# Database files
*.db
*.sqlite3
